* {
  font-family: 'fira sans';
}

body {
  margin: 0 auto;
}

main {
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

@media (max-width: 600px) {
  /* Nav styles */  
  .collapsed-nav {
    text-decoration: none;
    background-color: rgba(50, 50, 50, 0.8);
  }
  
.nav-links > a {
  color: white;
  text-decoration: none;
}

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

}