* {
  font-family: 'fira sans';
}

body {
  margin: 0 auto;
}

main {
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

nav {
  background-color: gray;
  height: 50px;
}

main {
}

@media (max-width: 600px) {
  nav {
    position: absolute;
    right: -100%;
  }
}