* {
  color: white;
  font-family: 'fira sans';
}

body {
  margin: 0 auto;
  background-color: rgb(100, 100, 100);
}

.App {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: rgb(150, 150, 150);
  height: 50px;
}

main {
  padding: 50px;
}